[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
pylint = "*"

[packages]
python-telegram-bot = "*"
sqlalchemy = "*"
psycopg2 = "*"
telethon = "*"
delorean = "*"

[requires]
python_version = "3.7"
